<div id="<%= dom_id budget %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= budget.name %>
  </p>

  <%= turbo_stream_from "categories" %>

  <%= turbo_frame_tag "category_form" do %>
    <%= render "categories/form", category: @category, budget: budget %>
  <% end %>


  <%= turbo_frame_tag "categories" do %>
      <%= render @categories %>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this budget", budget, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this budget', edit_budget_path(budget), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
